Source: bubba
Section: admin
Priority: required
Maintainer: Carl Fürstenberg <carl@excito.com>
Build-Depends: debhelper (>= 7.2)
Standards-Version: 3.8.0
Homepage: http://www.excito.com

Package: bubba
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 bubba-backend,
 bubba-frontend,
 bubba-manual,
 bubba-album
Description: Meta-package for the Bubba install to define current version
 This meta package has the major task of defining the current installed release
 of BubbaTwo
